button {
  padding: 10px 30px;
  align-items: start;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--main-color);
  color: aliceblue;
  border-radius: 50px;
  outline: none;
  border: none;
  transition: all 0.4s ease-in-out;
}
button:hover {
  background-color: aliceblue;
  color: var(--main-color);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
